header {
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    justify-content: center; /* Centers the search bar */
    align-items: center;
    position: relative;
}


.links {
    position: absolute;
    right: 20px; 
    top: 20px;
    display: flex;
    gap: 20px; 
}

.links a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #A77BCA;
}

.links a:hover {
    color: #702082; 
}

.search-container {
    display: inline-block; 
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    background-color: #A77BCA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #702082;
}


footer {
    background-color: #f8f9fa;
    padding: 20px;
    position: relative;
    text-align: left; 
}

.create-group {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #A77BCA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-group:hover {
    background-color: #702082; 
}